.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.vscode/
*.swp
*.swo
.idea/
tmp/
.env
src/.deploy_git/
src/public/
src/db.json
src/node_modules/
src/my_scripts/cosma_dir
docs/Yocto
src/source/_posts
